<app-header />
<div class="login-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="username">Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword" ngModel [formControl]="form.controls.oldPassword">


        <!-- Validating email input -->
        @if(checkInvalidOldPassword()){
        <p>Password is invalid(Mininmum length = 6)</p>
        }

        <label for="password">New Password</label>
        <input type="password" id="newPassword" name="newPassword" [formControl]="form.controls.newPassword">
        @if(checkInvalidNewPassword()){
        <p>Password is invalid(Mininmum length = 6)</p>
        }

        <button type="submit">Change Password</button>
    </form>
    @if(statusCode==500){
    <div class="error-message">
        <span>Network error. Please check your connection and try again.</span>
    </div>
    }

    @if(statusCode==401){
    <div class="error-message">
        <span>Old password is incorrect. Please enter correct password.</span>
    </div>
    }


</div>