/* styles.css */

.card {
  display: flex;
  width: 70vw;
  margin: auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
  overflow: hidden;
}

.card-header {
  background-color: #009879;
  color: white;
  padding: 14px;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-item span {
  margin-left: 0.8rem;
  font-size: 1.05rem;
  max-width: 63vw;
}

.task-item del {
  margin-left: 0.8rem;
  font-size: 1.05rem;
  max-width: 53vw;
}

.task-item textarea {
  width: 53vw;
  /* padding: 10px; */
  border: 1px solid #ddd;
  font-size: 1.05rem;
  min-height: 45px;
  max-height: 100vh;
  border-radius: 4px;
  scrollbar-width: none;
}

.task-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: fit-content;
  max-height: 100vh;
}

.task-text {
  flex: 1;
}

.btn-edit,
.btn-delete {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  height: 54px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.btn-delete {
  background-color: #dc3545;
}

.btn-edit:hover,
.btn-delete:hover {
  opacity: 0.8;
}

.add-task-button {
  /* align-self: flex-start; */
  margin-top: 2rem;
}

.add-task-form .btn {
  background-color: #009879;
  font-weight: bold;
}

.add-task-form {
  background-color: #fff;
  border-radius: 8px;
  width: 70vw;
  margin: 3rem auto 0 auto;
  overflow: hidden;
}

form {
  padding: 20px;
  display: flex;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 60vw;
  padding: 10px;
  border: 1px solid #ddd;
  height: 63px;
  max-height: 100vh;
  border-radius: 4px;
}

.btn {
  margin-right: 10px;
  margin-left: 10px;
}

input.ng-invalid.ng-touched,
form.ng-untouched.ng-submitted.ng-invalid input {
  border: 1px solid red;
  box-shadow: 0 0 5px rgb(250, 109, 109);
}

.err-msg {
  font-size: 0.8rem;
  color: rgb(139, 0, 0);
  display: block;
  text-align: left;
}

p.err-msg {
  text-align: start;
  margin-right: auto;
}
